.App {
  margin: 0 auto;
  background-color: rgba(186, 245, 245, 0.639);
  border-radius: 40px;
  box-shadow: 10px 10px 10px rgba(22, 22, 22, 0.197);
  padding-bottom: 25px;
}

.App h1 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-top: 25px;
}

.App .task-search-form {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 25px;
}
